@page
@{
    Layout=null;
}
<html>
<head>
    <title>Mengenal Grid System Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/bootstrap.min.css">
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <style type="text/css">
        div{
            background: #2ea3f2;
            text-align: center;
            border: 1px solid #fff;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
            <!-- Example row of columns -->
            <div class="row p-3">
                <div class="col-md-4">
                    <h2>Cara Menggunakan Bootsrap</h2>
                    <p>Belajar bootsrap itu sangat mudah.Belajar bootsrap itu sangat mudah.
                       Belajar bootsrap itu sangat mudah.Belajar bootsrap itu sangat mudah.
                       Belajar bootsrap itu sangat mudah.Belajar bootsrap itu sangat mudah.
                    </p>
                    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Belajar ASP.Net Core</h2>
                        <p>Belajar ASP.Net Core itu sangat mudah.Belajar ASP.Net Core itu sangat mudah.
                            Belajar ASP.Net Core itu sangat mudah.Belajar ASP.Net Core itu sangat mudah.
                            Belajar ASP.Net Core itu sangat mudah.Belajar ASP.Net Core itu sangat mudah.
                        </p>
                        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Belajar ASP.Net Core</h2>
                        <p>Belajar Visual Core itu sangat mudah.Belajar Visual Core itu sangat mudah.
                            Belajar Visual Core itu sangat mudah.Belajar Visual Core itu sangat mudah.
                            Belajar Visual Core itu sangat mudah.Belajar Visual Core itu sangat mudah.
                        </p>
                        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
            <hr>
        </div>
    </body>
</html>
